
@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    font-family: 'Montserrat', sans-serif;
}

.container{
   
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer_bg{
    background-image: url(./assets/images/footer.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.footer_bg--btn{
    background-image: url(./assets/images/footer/footer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 1075px;
    position: absolute;
    top: -175px;
    left: 50%;
    transform: translateX(-50%);
}